@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");

@media screen and (min-width: 375px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3a39;
    top: 44px;
    height: 48px;
    width: 375px;
    color: white;
  }

  .menu {
    width: 24px;
    height: 24px;
    left: 8px;
    top: 8px;
    border-radius: 2px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    height: 44px;
    left: 12px;
    top: calc(50% - 44px / 2);
    width: 77px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 375px;
    height: 590px;
    background: #1c1a19;
    background-image: url("assets/illustration.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .name h1 {
    margin-top: 50px;
    color: #ff6b00;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
    font-style: normal;
  }

  .name-2 h3 {
    width: 327px;
    height: 27px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    top: 256px;
    left: 24px;
    margin-left: 20px;
  }

  .p-name p {
    width: 327px;
    height: 123px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }

  .social-illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .socialmedia {
    margin-left: 20px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 40px;
  }

  .socialmedia ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 17px;
  }

  .diagram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 12px;
  }

  .recent-works {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    gap: 30px;
    position: absolute;
    width: 375px;
    height: 3502px;
    top: 638.2px;
    background-color: #e5e5e5;
  }

  .recent-works h1 {
    width: 327px;
    height: 83px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
  }

  .line-rule {
    width: 327px;
    border: 1px solid #212121;
    margin-bottom: 20px;
    background-color: #8993a4;
  }

  .image-placeholder {
    width: 327px;
    height: 237px;
  }

  .post {
    width: 327px;
    height: 36px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .content p {
    width: 327px;
    height: 147px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 297px;
    height: 40px;
  }

  .tag ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 12px;
    margin-right: 27px;
  }

  .tag ul li:nth-child(1) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 49px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .tag ul li:nth-child(2) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .tag ul li:nth-child(3) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .tag ul li:nth-child(4) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
  }

  .second-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .second-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .second-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .second-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .second-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .second-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .second-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .third-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .third-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .third-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .third-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .third-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .third-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .third-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fourth-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .fourth-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fourth-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fourth-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fourth-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fourth-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fourth-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .four-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .four-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .four-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .four-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .four-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .four-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .four-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fifth-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .fifth-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fifth-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fifth-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fifth-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .fifth-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .fifth-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .sixth-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
    margin-right: 61px;
  }

  .sixth-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .sixth-tag span {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .sixth-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .sixth-tag2 span {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .sixth-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .sixth-tag3 span {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .project-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: #ff6b00;
  }

  .project-btn h4 {
    width: 100px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    padding-top: 10px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    top: 592px;
    width: 375px;
    height: 430px;
    background-image: url("assets/project-image.png");
    background-repeat: no-repeat;
  }

  .projects h1 {
    width: 295px;
    height: 81px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .projects small {
    width: 295px;
    height: 87px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  .languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 40px;
  }

  .project-lang {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 12px;
    width: 56px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    margin-left: 100px;
  }

  .project-lang h5 {
    width: 32px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-right: 150px;
  }

  .project-lang2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .project-lang2 h5 {
    width: 71px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .project-lang3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
  }

  .project-lang3 h5 {
    width: 37px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .action {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    width: 328px;
    height: 48px;
    background: #ff6b00;
    top: 400px;
    margin-right: 50px;
    margin-top: 26px;
    margin-left: 2px;
    cursor: pointer;
  }

  .about {
    position: absolute;
    width: 375px;
    height: 1901px;
    top: 4137px;
    background: #1c1a19;
    padding: 25px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about h1 {
    width: 327px;
    height: 79px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: 100px;
  }

  .about span {
    width: 327px;
    height: 148px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .about-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
    background: #ff6b00;
    color: white;
    justify-content: center;
    margin-right: 158px;
    cursor: pointer;
  }

  .about-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 212.5px;
  }

  .divider {
    width: 327px;
    border: 1px solid #fff;
    background-color: #8993a4;
    margin-bottom: 100px;
  }

  .main-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 225.46px;
    height: 281.46px;
    margin-bottom: 30px;
  }

  .sub-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 225.46px;
    height: 41.46px;
  }

  .rectangle {
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }

  .lang h4 {
    width: 164px;
    height: 24px;
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .inner-frame ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 60px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 43px;
  }

  .framework {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 281px;
    height: 336px;
  }

  .sub-framework {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 281px;
    height: 40px;
  }

  .square {
    width: 18px;
    height: 18px;
    background: #ff6b00;
  }

  .frame h4 {
    width: 227px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .inner-framework ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 60px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 43px;
  }

  .main-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 169px;
    height: 336px;
  }

  .sub-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 169px;
    height: 40px;
  }

  .circle {
    width: 18px;
    height: 18px;
    background: #ff6b00;
    border-radius: 50%;
  }

  .skills h4 {
    width: 115px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .inner-skills ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-right: 60px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 43px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 58px;
    position: absolute;
    width: 375px;
    height: 844px;
    top: 6038px;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 327px;
    height: 216px;
    padding: 15px 16px;
  }

  .contact-text p {
    width: 327px;
    height: 216px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 327px;
    height: 330px;
  }

  .contact-form input {
    left: 16px;
    right: 16px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
    padding: 20px;
  }

  .contact-form-text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 24px;
    box-sizing: border-box;
    width: 327px;
    height: 48px;
    border: none;
    border-bottom: 2px solid #dbd8d7;
  }

  .contact-form-email {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 24px;
    box-sizing: border-box;
    width: 327px;
    height: 48px;
    border: none;
    border-bottom: 2px solid #dbd8d7;
  }

  .contact-form textarea {
    width: 327px;
    height: 114px;
    padding: 20px;
    padding-top: 10px;
    color: #3c3a39;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .contact-textarea {
    background: #fbf8f7;
  }

  .contact-form button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 141px;
    height: 48px;
    background: #ff6b00;
    border: none;
  }

  .contact-button {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  footer {
    position: absolute;
    width: 375px;
    height: 80px;
    top: 6886px;
  }

  .footer-line {
    height: 1px;
    background: #dfe1e6;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 40px;
    left: calc(50% - 200px / 2 + 0.5px);
    top: calc(50% - 40px / 2);
  }

  .footer-socials ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 22px;
    width: 20px;
    height: 20px;
    padding-top: 30px;
    margin-right: 45px;
  }

  .footer-bottom {
    position: absolute;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px / 2 - 0.5px);
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
    margin-top: 20px;
  }
}
